.div1{
    background-color: black;
    text-align: center;
}
button{
    width: inherit;
}
#field{
    width: 600px;
    margin-top: 20px;
}
#btn{
    width: 600px;
}
#rst{
    width: 600px;
}
#atr{
    width: 600px;
    margin-bottom: 15px;
}
.display-1{
    color: white;
}
body{
    background-color: black;
}
#p{
    color: aliceblue;
}

