#obesity{
    font-size: 20px;
    color: orangered;
    margin: 0px;
}
#heading h3{
    color: aliceblue;
}
#top{
    text-align: center;
}
h1,h2,p{
    color: aliceblue;
    text-align: center;
}

table{
    align
}
body{
    padding: 40px;
    margin: 40px
}
#t1{
    margin-bottom: 20px;
}
#t2{
    margin-bottom: 20px;
}
#t3{
    margin-bottom: 20px;
}
#t4{
    margin-bottom: 20px;
}
#t5{
    margin-bottom: 20px;
}
#t6{
    margin-bottom: 20px;
}
