img{
    width: 150px;
    height: 100px;
    margin: 5px;
}
body{
    background-color: dimgrey;
}
.div1{
    background-color: bisque;
    text-align: center;
    font-family: fantasy;
    margin-top: 15px;
    border: 5px solid black;
    border-radius: 10px;
}
.row{
    margin: 7px;
    border: 2px solid black;
    border-radius: 10px;
}
.col{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
}
.head{
    font-family: fantasy;
    font-size: 35px;
    text-decoration: underline;
}
